<a
  {{#if href}}
  href={{href}}
  {{else}}
  href='/'
  {{/if}}
  class='mx-auto mt-2 w-full text-center font-monospace text-sm text-green0 hover:text-green1 hover:underline hover:underline-offset-4'
>{{label}}</a>