{{!< layout}}

<div class='flex h-screen items-center justify-center'>
  <div class='w-[340px] rounded-lg bg-dark2 px-7 py-3 shadow-2xl'>
    {{> 'headers/h1' header='sign_in'}}
    <form>
      {{> 'form/input-text' label='Login' errorMessage='Login is invalid.'}}
      {{> 'form/input-text-invalid' label='Password' inputType='password' errorMessage='Password is invalid.'}}
      {{> 'buttons/submit-button' label='Sign In'}}
      {{> 'buttons/text-button' label='Create account'}}
    </form>
  </div>
</div>